<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Plan your leave before end of the year</h1>
            <h3>If user not able to login please send email to IT Support</h3>
            <p class="lead">Contact: itsupport@mma.org.my</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>IMPORTANT !</h1>
            <h3>Public Holidays and Timeoff are not allowed to carry forward</h3>
            <p class="lead">Apply leave 3 days earlier to avoid rejections from management</p>
        </div>
    </div>
</div>